body {
    background-color: rgb(223, 223, 162);
}

header {
    text-align: center;
    min-width: 150px;
    background-color: rgb(214, 214, 90);
    padding-top: 40px;
}

nav {
    background-color: rgb(214, 214, 90);
    padding: 10px;
}
